*, html {
    font-family: 'Poppins', sans-serif;
}



// Forms
input[type],textarea[name] {
  padding: 22px 20px;
  margin: 8px 0px;
  border: 1px solid #ededed;
  &::placeholder{
    color: rgba(0,0,0,.3);
  }
}

label.custom-file-label {
  color: #C9C9C9 !important;
}




.badge{
  padding: 10px 20px !important;
}




$theme-colors: (
  "primary": #111430,
  "secondary": #7AB259,
  "dark":#111430,
  "light": #FBD062
);


$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 1200px
);
@import "../node_modules/bootstrap/scss/bootstrap";